<?xml version='1.0' encoding='utf-8'?>
<widget id="io.nextop.cordova" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Nextop Cordova Plugin Tests</name>
    <description>
    </description>
    <author email="support@nextop.io" href="http://nextop.io">
        nextop.io
    </author>
    <content src="cdvtests/index.html" />
    <access origin="*" />
</widget>
